<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HORSE BREEDS</title>
	<link rel="icon" href="1.png" > 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<style>




#one{

	padding-left:400px;
	padding-top:25px;
}
#two{

	padding-top:25px;
}

#three{
	padding-top: 150px;
}
#nav{
	background-image:linear-gradient(to right,Aqua,gold);
}
#icon{
	padding-left:20px;
}


#icons{
	padding-left:300px;
}
#img{
	padding-left:95px;
	
}
#one1{

	padding-left:300px;
	padding-top:25px;
}
#two2{

	padding-top:25px;

}
</style>
</head>
<body>

<br><br><br><br><br>
<body>

<div  class="container">
	<nav id="nav" class="navbar navbar-expand-lg fixed-top">
		<ul class="navbar-nav">
			<li class="nav-item ">
				<a href="#" id="img" class="nav-link"><img class="rounded-circle" src="1.png" height="45" width="45"></a>
			</li>
			<li class="nav-item ">
				<a href="#" class="nav-link text-dark"><i><h3>Pet Paradise</h3></i></a>
			</li>
			<li>
				<a href="../index.html" id="one1" class="nav-link text-dark"><i class="fa fa-fw fa-home"></i>Home</a>
			</li>
			<li class="nav-item dropdown">
				<a href="#" id="two2" class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">Categories</a>
					<ul class="dropdown-menu">
						<li>
							<a href="animal.html" class="dropdown-item">Animals</a>
						</li>
						<li>
							<a href="birds.html" class="dropdown-item">Birds</a>
						</li>
						<li>
							<a href="fishes.html" class="dropdown-item">Fishes</a>
						</li>
					</ul>
			</li>

			<li>
				<a href="./aboutUs/aboutus.html" id="two2" class="nav-link text-dark"><i class="fa fa-fw fa-users"></i>About</a>
			</li>
			<li>
				<a href="contact.html" id="two2" class="nav-link text-dark"><i class="fa fa-fw fa-phone"></i>Contact</a>
			<li>
				<a href="#" id="two2" class="nav-link text-dark"><i class="fa fa-fw fa-user"></i>Login</a>
			</li>
		</ul>
	</nav>

</div>

<div class="container" id="carousel-color">
	<div class="carousel slide" id="slider" data-bs-ride="carousel">
		<ol class="carousel-indicators">
			<li data-bs-target="#slider" data-bs-slide-to="0" class="active"></li>
			<li data-bs-target="#slider" data-bs-slide-to="1"></li>

		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active" id="corousel-color" data-bs-interval="6000">
				<img src="/../wt/pro/PetParadise/images/horse/main.jpg" height="650" width="1080">
			</div>

			<div class="carousel-item" id="corousel-color" data-bs-interval="6000">
				<center><img src="/../wt/pro/PetParadise/images/horse/main1.jpg" height="650" width="1000"></center>
			</div>

		</div>
		<a href="#slider" class="carousel-control-prev" data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a href="#slider" class="carousel-control-next" data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>

<h1 id="three" class="text-center">YOUR BEST FRIEND'S ARE WAITING FOR YOU<br></h1>
<center><b>!...MEET THEM QUICKLY...!</b></center>

<div class="container mt-4">
	<h2><i>Arabian Horse</i></h2>
	<div class="row">
		<div class="col-md-12">
			<img src="/../wt/pro/PetParadise/images/horse/arabian.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/arabian2.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/arabian1.jpg" width="300" height="250">
			<a href="product.html">
				<img src="/../wt/pro/PetParadise/images/seemore-icon.png" width="50" height="50">
			</a><br><br>
			<font size="6">COST : <b>$100</b></p></font>
			<h4>IMPORTANT POINTS TO KNOW TO OWN THIS PRETTY PET</h4>
			<ol>
				<li>Maintain a healthy weight.</li>
				<li>Avoid heavy work and impact to the joints</li>
				<li>Regular walks and exercise</li>
				<li>Early socialization with other people and dogs</li>
				<a href="#"><label>read more</label></a>
			</ol>
		</div>
	</div>

	<h2><i>Morgan</i></h2>
	<div class="row">
		<div class="col">
			<img src="/../wt/pro/PetParadise/images/horse/morgan2.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/morgan.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/morgan1.jpg" width="300" height="250">
			<a href="product.html">
				<img src="/../wt/pro/PetParadise/images/seemore-icon.png" width="50" height="50">
			</a><br><br>
			<font size="6">COST : <b>$110</b></p></font>
			<h4>IMPORTANT POINTS TO KNOW TO OWN THIS PRETTY PET</h4>
			<ol>
    			<li>Highly intelligent, playful, and energetic.</li>
    			<li>Outgoing and friendly.</li>
    			<li>Alert, curious, and busy.</li>
    			<li>Protective of family—a good watchdog.</li>
    			<li>Highly trainable and eager to please.</li>
				<a href="#"><label>read more</label></a>
			</ol>
		</div>
	</div>

	<h2><i>Throughbred Horse</i></h2>
	<div class="row">
		<div class="col">
			<img src="/../wt/pro/PetParadise/images/horse/throughbred.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/throughbred1.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/Bay-Thoroughbred.jpg" width="300" height="250">
			<a href="product.html">
				<img src="/../wt/pro/PetParadise/images/seemore-icon.png" width="50" height="50">
			</a><br><br>
			<font size="6">COST : <b>$125</b></p></font>
			<h4>IMPORTANT POINTS TO KNOW TO OWN THIS PRETTY PET</h4>
			<ol>
				<li>Maintain a healthy weight.</li>
				<li>Avoid heavy work and impact to the joints</li>
				<li>Regular walks and exercise</li>
				<li>Early socialization with other people and dogs</li>
				<a href="#"><label>read more</label></a>
			</ol>
		</div>
	</div>

	<h2><i>Criollo</i></h2>
	<div class="row">
		<div class="col">
			<img src="/../wt/pro/PetParadise/images/horse/criollo.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/criollo2.jpg" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/criollo1.jpg" width="300" height="250">
			<a href="product.html">
				<img src="/../wt/pro/PetParadise/images/seemore-icon.png" width="50" height="50">
			</a><br><br>
			<font size="6">COST : <b>$150</b></p></font>
			<h4>IMPORTANT POINTS TO KNOW TO OWN THIS PRETTY PET</h4>
			<ol>
    			<li>Highly intelligent, playful, and energetic.</li>
    			<li>Outgoing and friendly.</li>
    			<li>Alert, curious, and busy.</li>
    			<li>Protective of family—a good watchdog.</li>
    			<li>Highly trainable and eager to please.</li>
				<a href="#"><label>read more</label></a>
			</ol>
		</div>
	</div>

	<h2><i>Other Breeds Which May liked By You</i></h2>
	<div class="row">
		<div class="col">
			<img src="/../wt/pro/PetParadise/images/horse/1.jpg" class="mb-3" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/shared_A46Q4654.jpg.jpg" class="mb-3" width="300" height="250">
			<img src="/../wt/pro/PetParadise/images/horse/shared_duke.jpg.jpg" class="mb-3" width="300" height="250">
			<a href="product.html">
				<img src="/../wt/pro/PetParadise/images/seemore-icon.png" width="50" height="50">
			</a><br><br>
		</div>
	</div>

</div>

<br><br><br><br><br><br><br><br>
<div class="footer">
	<div id="nav" class="container-fluid fixed-bottom">
	<div class="row">
		<div  class="col-md-6">
			<a href="#" class="text-dark" id="icon"><i class="fa fa-fw fa-phone"></i><label>+91 9701 123 1362</label></a>
			<a href="#" class="text-dark" id="icon"><i class="fa fa-fw fa-paper-plane" ></i><label>petparadise143@gmail.com</label></a>
		</div>
		<div  class="col-md-6">
			<div class="social-media">
			    	<a href="#" class="text-dark" id="icons"><i class="fa fa-fw fa-facebook"></i></a>
				<a href="#" class="text-dark"><i class="fa fa-fw fa-twitter"></i></a>
				<a href="#" class="text-dark"><i class="fa fa-fw fa-instagram"></i></a>
			    	<a href="#" class="text-dark"><i class="fa fa-fw fa-dribbble"></i></a>
			   </div>
		</div>
	</div>
</div>
</div>
</body>
</html>
